<header>
    
      <button class="btn btn-primary" routerLink="/">Home</button>
      <span *ngIf=" ! user.logged " class="">Logo</span>
      <button class="btn btn-info" *ngIf=" user.logged" routerLink="/editUser">Edit Profile</button>
      <button class="btn btn-info" *ngIf=" user.logged " routerLink="/change_password"> Change Password </button>
   
        <button class="btn btn-primary" *ngIf="user.logged" (click) = "onClickLogOut()" >Log-out</button>
        <button class="btn btn-primary" *ngIf="!user.logged" routerLink="/login" >Log-in</button>
    
</header>